*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* all text color*/
:root{
    --first-color: #3A3A3A;
    --gray-color: #787885;
    --text-gray900: #18191F;
    --price-color: rgba(0, 0, 0, 0.87);
    --product-title-color: #18191F;
    --product-description-color: #787885;
    --button-color: #E02C6D;
}


/* header section style */
/* navbar style of header */
nav{
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}
nav > h3{
    font-size: 26px;
    color: var(--first-color);
}

/* design of checkbtn for responsive */
.checkbtn{
    display: none;
    font-size: 30px;
}
#check{
    display: none;
}
/* ------------ */

.navbar{
    display: flex;
}
.navbar > ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.navbar > ul > li{
    margin-right: 25px;
}
.navbar > ul > li > a{
    text-decoration: 0;
    color: black;
    font-weight: 500;
}
.search-button{
    width: 130px;
    height: 30px;
    padding: 15px 75px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}
.search-button > input{
    width: 110px;
    border: 0;
    outline: 0;
    padding: 0 10px;
}

/* header banner section style */
.banner-of-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 80%;
    margin: 80px auto;
}
/* banner text style */
.banner-text{
    width: 50%;
    margin-top: 8%;
}
.banner-title{
    font-size: 3.3rem;
    font-weight: 700;
    color: var(--first-color);
}
.banner-description{
    color: var(--first-color);
    margin-top: 15px;
}
.banner-button{
    padding: 10px 30px;
    background-color: var(--button-color);
    outline: 0;
    border: 0;
    color: #ffffff;
    font-size: 16px;
    border-radius: 30px;
    margin-top: 15px;
    cursor: pointer;
}
.fa-arrow-right{
    margin-left: 10px;
}
/* banner image style */
.banner-image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondary-image{
    position: absolute;
}








.hide{
    display: none;
}




/* @ query for Mobile Device */
@media screen and (max-width: 576px){
    header > nav > h3{
        font-size: 20px;
    }
    header .navbar > ul{
        position: fixed;
        width: 100%;
        background-color: #bebebe;
        top: 90px;
        flex-direction: column;
        left: -200%;
        transition: all .1s;
        z-index: 1;
    }
    header .navbar ul li{
        line-height: 20px;
        clear: both;
        margin-top: 15px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .checkbtn{
        display: block;
    }


    /* banner of header responsive */
    .banner-of-header{
        flex-direction: column-reverse;
        width: 100%;
    }
    .banner-image > img{
        width: 100%;
    }
    .secondary-image > img{
        width: 100%;
    }
    .banner-text{
        width: 100%;
        text-align: center;
    }
    .banner-title{
        font-size: 30px;
    }
}